<table>
    <menu search="menu;id='start_menu'">
        <node search="node;name='main'">
			<item index="after:item;name='divider_test2'" help_id="menu_options_help" name="OP_options" next_node="OP_options" text_id="menu_OP_title"/>
            <item index="after:item;name='options'" next_node="OP_credits" trial_buy="true" help_id="OP_credits_help" name="OP_credits" text_id="OP_credits"/>
			<item search="item;name='crimenet'" font_size="25"/>
			<item search="item;name='crimenet_offline'" font_size="25"/>
        </node>
		<node search="node;name='crimenet_contract_host'">
			<item index="after:item;name='toggle_ai'" callback="choice_crimenet_one_down" name="toggle_one_down_OP" text_id="menu_toggle_one_down" type="CoreMenuItemToggle.ItemToggle" visible_callback="not_customize_contract">
				<option h="24" icon="guis/textures/menu_tickbox" s_h="24" s_icon="guis/textures/menu_tickbox" s_w="24" s_x="0" s_y="24" value="off" w="24" x="0" y="0"/>
				<option h="24" icon="guis/textures/menu_tickbox" s_h="24" s_icon="guis/textures/menu_tickbox" s_w="24" s_x="24" s_y="24" value="on" w="24" x="24" y="0"/>
			</item>
		</node>
		<node search="node;name='crimenet_contract_singleplayer'">
			<item index="after:item;name='toggle_ai'" callback="choice_crimenet_one_down" name="toggle_one_down_OP" text_id="menu_toggle_one_down" type="CoreMenuItemToggle.ItemToggle" visible_callback="not_customize_contract">
				<option h="24" icon="guis/textures/menu_tickbox" s_h="24" s_icon="guis/textures/menu_tickbox" s_w="24" s_x="0" s_y="24" value="off" w="24" x="0" y="0"/>
				<option h="24" icon="guis/textures/menu_tickbox" s_h="24" s_icon="guis/textures/menu_tickbox" s_w="24" s_x="24" s_y="24" value="on" w="24" x="24" y="0"/>
			</item>
		</node>
        <node align_line="0.5" credits_file="OP" gui_class="MenuNodeCreditsGui" menu_components="" name="OP_credits" stencil_align="right" stencil_image="bg_stats" topic_id="OP_credits" use_info_rect="false">
			<legend name="menu_legend_back"/>
			<default_item name="back"/>
			<item back="true" name="back" previous_node="true" text_id="menu_back" visible_callback="is_pc_controller"/>
		</node>
    </menu>
</table>